<div>
    <h2 class="center">
        Instruções para utilização e preenchimento do registro de classe
    </h2>
    <p>
        O Livro Registro de classe, é o documento no qual se registram todas as
        atividades do professor(a), e serve em qualquer tempo como prova das
        atividades realizadas junto aos alunos. Assim o seu preenchimento
        correto é de extrema importância para garantir os direitos do corpo
        docente e discente. É um instrumento de escrituração escolar diária e
        manual, elaborado com a finalidade de documentar frequência, conteúdos e
        aproveitamento escolar.
    </p>

    <h2 class="center">Atribuições</h2>

    <h2>Do diretor(a):</h2>

    <p>
        Conscientizar os professores da importância de registrar com
        fidedignidade e atenção todas as informações, a fim de evitar duvidas ou
        alterações nos registros escolares contribuindo para a perfeita
        escrituração de todo o Estabelecimento de Ensino.
    </p>

    <h2>Da orientação:</h2>

    <p>
        Orientar os professor(as) no preenchimento dos registros pertinentes às
        atividades pedagógicas.
    </p>

    <h3>Acompanhar e visitar, periodicamente, o Registro de Classe:</h3>

    <p>
        Estabelecer relação entre o planejamento, a prática e o registro de
        classe, auxiliando o professor(a) sempre que necessário.
    </p>

    <h2>Da secretaria:</h2>

    <p>
        Manter atualizado a cada trimestre e período os espelhos quanto à
        movimentação escolar dos alunos e informar à Equipe Pedagógica e ao
        corpo docente a fim de que possam atualizar seus registros. Registrar ao
        lado do nome do(a) aluno(a) a movimentação:
    </p>
    <p>
        - Transferido (mudança de Estabelecimento de Ensino ou de outra
        modalidade de ensino no próprio Estabelecimento).
    </p>
    <p>- Desistente.</p>
    <p>
        - Remanejado (mudança de turma dentro do próprio Estabelecimento de
        Ensino).
    </p>
    <p>
        - Preencher as informações contidas na capa do Livro Registro de Classe.
    </p>
    <p>
        - Orientar a Equipe Pedagógica e o corpo docente sobre possíveis
        correções, alterações ou observações que se fizerem necessárias de modo
        que essas possam ser executadas pelo próprio professor(a), uma vez que o
        Livro Registro de Classe é de seu uso exclusivo no que diz respeito ao
        seu preenchimento.
    </p>
    <p>
        Recolher, dentro dos prazos previstos, os "canhotos" de registro de
        notas e frequência e alimentar o sistema de Registro Escolar até 10(dez)
        dias após cada trimestre e/ou período.
    </p>

    <h3>
        Garantir a permanência dos Livros Registro de Classe no Estabelecimento
        de |Ensino.
    </h3>

    <h2>Do professor(a):</h2>

    <p>
        Manter seus Livros Registro de Classe atualizados, preenchendo-os com
        letra legível sem erros, rasuras e colagens, de modo a evitar dúvidas
        que possam prejudicar os registro da vida legal do aluno.
    </p>
    <p>
        Preencher de forma correta o Livro Registro de Classe,
        disponibilizando-o no trimestre e/ou período à Equipe Pedagógica para
        ser vistado.
    </p>
    <p>
        Observar que cada folha de registro de frequência servirá para um
        trimestre e/ou período.
    </p>
    <p>Preencher o espaço reservado com o nome dos meses, e dia.</p>
    <p>Preencher o campo de aulas previstas e aulas dadas.</p>
    <p>
        Preencher a chamada dos alunos diariamente, anotando-a da seguinte
        forma:
    </p>
    <p>C - comparecimento</p>
    <p>F - falta</p>

    <h3>
        É vedada qualquer forma de registro que não seja a mencionada. Registrar
        em campo próprio a falta do(a) aluno(a), mesmo que justificada, e
        apostilar no campo de observações o número de aluno e o motivo da falta.
    </h3>

    <p>
        Preencher com traços os espaços vazios, inclusive nas folhas de
        conteúdos.
    </p>
    <p>
        Utilizar o quadro avaliação para anotações trimestrais e/ou periódicas
        conforme Proposta Pedagógica.
    </p>
    <p>
        Registro no final do trimestre e/ou período, na coluna correspondente, o
        total de faltas dos alunos.
    </p>
    <p>
        Assinar o registro de frequência, no espaço reservado, ao final de cada
        trimestre e/ou período.
    </p>
    <p>
        Registrar e rubricar, nos dias de aula os conteúdos desenvolvidos de
        acordo com a Proposta Pedagógica.
    </p>
    <p>
        Utilizar as folhas de anotações no final do livro para registrar as
        informações consideradas importantes como: acompanhamento de alunos de
        contraturno, advertências e outros acompanhamentos que se fizerem
        necessários.
    </p>

    <h3>
        Deixar o Registro de Classe no local determinado pela Secretaria ao
        final do dia letivo.
    </h3>

    <p>Rubricar os espaços destinados ao professor(a).</p>
    <p>
        Utilizar caneta azul ou preta para os registros (Feita a opção, utilizar
        a cor durante todo o ano letivo). É vedada a utilização de caneta
        vermelha para qualquer forma de registro.
    </p>
    <p>
        Registrar todas as tividades de recuperação paralela, tanto na folha de
        registro de avaliações como no campo de conteúdos.
    </p>
</div>
