<div
    *ngIf="profiles?.length > 0"
    id="main-navigation"
    class="nav"
    [ngClass]="{
        horizontal: layout === 'horizontal',
        vertical: layout === 'vertical'
    }"
>
    <!-- Vertical Navigation Layout -->
    <ng-container *ngIf="layout === 'vertical'">
        <ng-container>
            <div class="px-8 px-mat-16">
                <!-- <mat-form-field style="width: 100%">
                    <mat-select (selectionChange)="changeSelected($event)" placeholder="Acessando como {{label}}">
                        <mat-optgroup *ngFor="let profile of profileGroups" [label]="profile.name" [disabled]="profile.disabled">
                            <mat-option *ngFor="let role of profile.roles" [value]="role.value">
                                {{ role.viewValue }}
                            </mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field> -->
                <!-- <mat-form-field style="width: 100%" class="mt-8">
                    <mat-select [(value)]="profileSelected" (selectionChange)="changeSelected($event)" placeholder="Acessando como {{label}}">
                        <mat-option *ngFor="let profile of profiles" [value]="profile">
                            <span *ngIf="profile?.county">{{profile?.role ?
                                profile?.role?.type :
                                profile?.showType}} em
                                {{profile?.county?.requested?.name}}</span>
                            <span *ngIf="profile?.school">
                                {{profile?.role ? profile?.role?.type :
                                profile?.showType}}
                                em
                                {{profile?.school?.requested?.institution?.name}}
                            </span>
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->
            </div>
        </ng-container>
        <ng-container *ngFor="let item of navigation">
            <fuse-nav-vertical-group
                *ngIf="item.type == 'group'"
                [item]="item"
            ></fuse-nav-vertical-group>
            <fuse-nav-vertical-collapsable
                *ngIf="item.type == 'collapse'"
                [item]="item"
            ></fuse-nav-vertical-collapsable>
            <fuse-nav-vertical-item
                *ngIf="item.type == 'item'"
                [item]="item"
            ></fuse-nav-vertical-item>
        </ng-container>
    </ng-container>
    <!-- / Vertical Navigation Layout -->

    <!-- Horizontal Navigation Layout -->
    <ng-container *ngIf="layout === 'horizontal'">
        <div class="px-8 px-mat-16">
            <mat-form-field style="width: 100%">
                <mat-select
                    (selectionChange)="changeSelected($event)"
                    placeholder="Acessando como {{ label }}"
                >
                    <mat-option
                        *ngFor="let profile of profiles"
                        [value]="profile.value"
                    >
                        {{ profile.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <ng-container *ngFor="let item of navigation">
            <fuse-nav-horizontal-collapsable
                *ngIf="item.type == 'group'"
                [item]="item"
            ></fuse-nav-horizontal-collapsable>
            <fuse-nav-horizontal-collapsable
                *ngIf="item.type == 'collapse'"
                [item]="item"
            ></fuse-nav-horizontal-collapsable>
            <fuse-nav-horizontal-item
                *ngIf="item.type == 'item'"
                [item]="item"
            ></fuse-nav-horizontal-item>
        </ng-container>
    </ng-container>
    <!-- / Horizontal Navigation Layout -->
</div>
