<div id="title" align="center" style="font-size: 14px">
    <img src="assets/images/logos/fuse.svg" class="avatar" alt="atlaensino">
    <br><br>
    <h1 mat-dialog-title>TERMOS E CONDIÇÕES DE USO
        <span style="color: red; font-family: 'Gill Sans' , 'Gill Sans MT' ,
            Calibri, 'Trebuchet MS' , sans-serif">ATLA
            ENSINO
        </span>
    </h1>

</div>


<div id="content" style="font-size: 14px">


    <mat-dialog-content>

        <h5 mat-dialog-title>1. DAS DEFINIÇÕES</h5>
        <p>
            Para facilitar o entendimento destes Termos de Uso e das Políticas editadas pela OCAMACAM, tem-se que os
            termos
            abaixo, sempre que usados com letra em maiúsculo, terão o seguinte significado:</p>
        <p><strong>USUÁRIO</strong>: alunos, pais e responsáveis, professores, funcionários da gestão escolar,
            funcionários da
            gestão educacional do município, comunidade na figura de empresas e voluntários que aderirem a Plataforma
            Atla
            Ensino.
        </p>

        <p><strong>PLATAFORMA OCAMACAM</strong>: é uma Plataforma WEB integrada a um aplicativo móvel dirigida para
            Android e iOS com recursos e
            funcionalidades desenvolvidas sob medida para as necessidades dos principais personagens no processo de
            ensino-aprendizagem: alunos, pais e responsáveis, professores, equipe da gestão educacional do município e
            comunidade
            externa na figura de empresas, ONGs e voluntários que interagem no meio educacional, todos eles objetivando
            uma melhor
            gestão pedagógica.</p>

        <h5 mat-dialog-title>2. VINCULAÇÃO E ACEITAÇÃO</h5>
        <p>2.1 Ao acessar a PLATAFORMA OCAMACAM o USUÁRIO declara ser aluno, pais/ responsáveis, professores,
            funcionários da
            gestão escolar, funcionários da gestão educacional do município, comunidade na figura de empresas e
            voluntários da rede
            de ensino, habilitado a acessar e usar as ferramentas e conteúdos disponíveis. O USUÁRIO reconhece que não
            sendo
            verdadeira essa informação, poderá ser penalizado pelo crime de falsidade ideológica, nos termos da
            legislação
            brasileira.</p>
        <p>2.2 Ao acessar o conteúdo desta PLATAFORMA OCAMACAM, incluindo todos os conteúdos e funcionalidades
            disponíveis, o
            USUÁRIO declara ter lido e compreendido este Termo de Uso e ter concordado integral e expressamente,
            obrigando-se a
            cumprir este Termos e Condições de Uso.</p>
        <p>2.3 O USUÁRIO declara ser capaz ou estar legalmente representado para aderir e se vincular às condições
            deste Termo.
            Caso o USUÁRIO esteja agindo em nome de uma pessoa jurídica, este declara ter poderes suficientes para
            aderir e
            vincular tal pessoa jurídica às condições deste Termo.</p>
        <p>2.4 Caso o USUÁRIO não concorde com qualquer item deste Termo ou não tenha autorização e habilitação, em
            nome próprio
            ou de pessoa jurídica, deverá abster-se de usar, de qualquer forma, a PLATAFORMA OCAMACAM.</p>
        <p>2.5 A PLATAFORMA OCAMACAM poderá modificar este Termo a qualquer tempo, e em ocorrendo isso, o USUÁRIO
            deverá
            manifestar sua total concordância em cumprir com tais modificações ou revisões.</p>


        <h5 mat-dialog-title>2. VINCULAÇÃO E ACEITAÇÃO</h5>
        <p>3.1 O acesso a PLATAFORMA OCAMACAM é disponibilizado aos alunos, pais e responsáveis, professores,
            funcionários da
            gestão escolar, funcionários da gestão educacional do município, comunidade na figura de empresas e
            voluntários que
            interagem no meio educacional, de acordo com as condições de cadastro.</p>
        <p>3.2 O USUÁRIO deve criar uma conta com o cadastro e fornecer informações pessoais e profissionais, bem como
            cadastrar
            uma senha e e-mail (login) para acessar a PLATAFORMA OCAMACAM. Essas informações da conta serão usadas
            para sua
            autenticação quando acessar a Plataforma e para proteger sua conta do acesso não autorizado de outras
            pessoas. O
            USUÁRIO é responsável por manter suas informações pessoais atualizadas.</p>
        <p>3.3 Caso haja conflito de informações, que indiquem que o USUÁRIO não é autorizado e habilitado ao uso da
            PLATAFORMA
            OCAMACAM, o USUÁRIO concorda que seus dados pessoais poderão ser utilizados para fins de verificação
            dessas
            informações conflitantes.</p>
        <p>3.5 Ao criar sua conta, o USUÁRIO deve fornecer dados completos, responsabilizando-se por sua veracidade.
            Considera-se
            o USUÁRIO o único responsável pela atividade que ocorre em sua conta, o qual deverá guardar a senha de uso
            pessoal e
            intransferível em local seguro, comprometendo-se com a confidencialidade de seus dados. Sendo proibido a
            utilização da
            conta de outro USUÁRIO.</p>
        <p>3.6 Ao acessar a PLATAFORMA OCAMACAM, o USUÁRIO concorda que certas informações a respeito de seu perfil
            e sua
            utilização registram-se automaticamente, principalmente informações decorrentes da atividade da conta,
            dados exibidos
            ou clicados e outras informações de registro.</p>
        <p>3.7 O USUÁRIO, desde já, reconhece e autoriza a OCAMACAM a utilizar suas informações pessoais para fins
            de
            manutenção desta Plataforma WEB, incluindo-se neste caso as hipóteses de backup de dados, criação de
            sistemas de
            segurança e/ou em casos de requerimento por autoridade competente com fundamento em ordem judicial,
            administrativa ou
            investigação extrajudicial.</p>
        <p>3.8 Todos os USUÁRIOS cadastrados terão acesso aos conteúdos da PLATAFORMA OCAMACAM. Além do acesso, os
            USUÁRIOS
            cadastrados poderão interagir na PLATAFORMA OCAMACAM, por meio das ferramentas disponibilizadas.
            <span style="color: red">(Incluir as
                ferramentas de acesso, bem como a destinação da utilização da Plataforma)</span></p>
        <p>3.9 O USUÁRIO deverá comunicar imediatamente a OCAMACAM, sobre qualquer possível violação de segurança ou
            uso não
            autorizado de sua conta, para a substituição das informações de acesso.</p>
        <p>3.10 O USUÁRIO concorda que a OCAMACAM, a seu critério exclusivo, poderá cancelar ou suspender sua conta
            ou parte
            dela, sem prévia comunicação, por descumprimento deste Termo e/ou legislação vigente, por caso fortuito,
            força maior
            e/ou questões de segurança, e em função de ordem judicial ou requisição legal e competente de autoridade
            governamental.</p>
        <p>3.11 A decisão de readmissão do usuário à PLATAFORMA OCAMACAM não representará, em nenhuma hipótese,
            qualquer
            alteração nos termos e condições deste Termo. Da mesma forma, a readmissão do usuário não representará a
            concordância
            da OCAMACAM com a ação ou omissão que resultou o desligamento do usuário, remanescendo ao usuário todas
            as
            obrigações referentes ao acesso da PLATAFORMA OCAMACAM previstas neste Termo.</p>
        <p>3.12 A OCAMACAM concede permissão pessoal, não exclusiva e intransferível ao USUÁRIO, para acessar e usar
            este
            website de forma lícita, tendo acesso a todo seu conteúdo, desde que o USUÁRIO não:</p>
        <ol type="a">
            <li>reproduza ou de qualquer forma copie qualquer conteúdo ou outra informação deste website, sem a
                autorização prévia
                expressa e por escrito da OCAMACAM;</li>
            <li>altere ou modifique qualquer parte da PLATAFORMA OCAMACAM, exceto nas ferramentas e espaços
                destinados à interação
                entre os usuários;</li>
            <li>participe de alguma atividade que interfira ou interrompa o funcionamento deste website ou de seus
                servidores e redes
                conectadas;</li>
            <li>permita acesso a terceiros por meio de seu login, principalmente para não usuários;</li>
            <li>seja afastado das atividades que ensejam a necessidade de acesso a PLATAFORMA OCAMACAM.</li>
        </ol>

        <p>
            3.13 A OCAMACAM se reserva o direito de cancelar ou descontinuar qualquer aspecto da PLATAFORMA ATLA
            ENSINO a
            qualquer tempo, sem necessidade de prévia informação a quem quer que seja.
        </p>
        <p>3.14 Além das restrições gerais acima expostas, as seguintes restrições e condições se aplicam
            especificamente ao uso
            dos conteúdos da PLATAFORMA OCAMACAM:</p>
        <ol type="a">
            <li>A PLATAFORMA OCAMACAM, bem como as marcas e demais direitos de propriedade intelectual ali contidas
                são de
                propriedade exclusiva da OCAMACAM e estão sujeitos às leis autorais e demais leis de propriedade
                intelectual (quer
                esses direitos estejam registrados ou não), ficando proibida sua utilização de forma diversa da
                apresentada neste Termo
                de Uso;</li>
            <li>O conteúdo da PLATAFORMA OCAMACAM é oferecido no estado em que se encontra apenas para informação e
                uso pessoal do
                USUÁRIO, não podendo ser feito qualquer download, cópia, reprodução, distribuição, transmissão,
                exibição,
                comercialização, licenciamento, ou qualquer outra forma de exploração para qualquer que seja a
                finalidade, sem o
                consentimento prévio, por escrito, da OCAMACAM;</li>
            <li>O USUÁRIO concorda em não fraudar, desativar ou de qualquer forma interferir em características
                relacionadas à
                segurança e/ou funcionamento desta plataforma ou características que evitem ou restrinjam o seu uso ou
                ainda qualquer
                ato que imponha limitações sobre o seu uso ou de seu conteúdo;</li>
            <li>O USUÁRIO não violará direitos autorais, direitos da personalidade, direitos da propriedade industrial,
                direitos das
                crianças e adolescentes, segredos de negócio ou qualquer outra forma protegida por direitos de
                terceiros. A OCAMACAM
                não permite atividades que violem os direitos autorais nem os demais direitos de propriedade
                intelectual em seu website
                e removerá todo o conteúdo, que a seu critério esteja irregular, após ter sido devidamente notificado
                de que tal
                conteúdo infringe direitos de terceiros;</li>
            <li>O USUÁRIO reconhece que a OCAMACAM poderá estabelecer, ao seu exclusivo critério, práticas gerais e
                limites
                relativos à utilização da PLATAFORMA OCAMACAM, os quais deverão ser respeitados pelo USUÁRIO, sob
                pena de sofrer
                penalidades administrativas e judiciais.</li>
        </ol>

        <h5 mat-dialog-title>4. DO PROCEDIMENTO EM CASO DE CONSTATAÇÃO DE ABUSOS OU IRREGULARIDADES</h5>
        <p>4.1 Caso o USUÁRIO identifique qualquer material ofensivo, ilegal, ou atentatório à moral e aos bons
            costumes,
            disponibilizado por outro USUÁRIO da plataforma, poderá, imediatamente comunicar a OCAMACAM, através do
            site
            atlaensino.com, para análise, ficando a OCAMACAM isenta de qualquer responsabilidade por tal conteúdo,
            por ter sido
            realizado por terceiros, sem qualquer intervenção da OCAMACAM. Cabe ao USUÁRIO o dever de informar sua
            identificação, contendo seu login, dados pessoais e seu contato.</p>
        <p>4.2 O comportamento ilícito poderá ser sancionado com a suspensão ou cancelamento do cadastro do USUÁRIO na
            PLATAFORMA
            OCAMACAM, sem prejuízo da adoção das medidas judiciais cabíveis.</p>
        <p>4.3 Qualquer pessoa que intencionalmente apresentar declaração falsa ou incorreta sobre um conteúdo estará
            sujeita a
            punições, tanto administrativas como legais, bem como poderão ter sua conta de acesso a PLATAFORMA ATLA
            ENSINO
            bloqueada e excluída, em caso de infrações reincidentes.</p>

        <h5 mat-dialog-title>5. EXCLUSÃO DE RESPONSABILIDADE DA PLATAFORMA OCAMACAM</h5>
        <p>5.1 A PLATAFORMA OCAMACAM não será, em hipótese alguma, responsável por quaisquer danos decorrentes da
            interrupção
            em seu acesso ou falhas no seu funcionamento.</p>
        <p>5.2 A OCAMACAM poderá, sem anuência ou concordância do USUÁRIO, realizar quaisquer alterações na
            Plataforma que
            julgar necessárias, sem que qualquer valor ou indenização seja devida em razão disso.</p>

        <h5 mat-dialog-title>6. DISPOSIÇÕES GERAIS</h5>
        <p>6.1 Este Termo, em conjunto com quaisquer outros avisos legais publicados no website integram o contrato
            entre o
            USUÁRIO e a OCAMACAM para utilização da PLATAFORMA OCAMACAM.</p>
        <p>6.2 Se qualquer cláusula deste Termo for considerada inválida pela autoridade competente, a invalidade de
            tal cláusula
            não afetará a validade das cláusulas restantes, que permanecerão integralmente válidas e em vigor.</p>
        <p>6.3 Eventual falha da PLATAFORMA OCAMACAM em exigir quaisquer direitos ou disposições dos presentes
            Termos de Uso
            não constituirá renúncia, podendo exercer regularmente o seu direito, dentro dos prazos legais</p>

        <h5 mat-dialog-title>7. LEGISLAÇÃO E FORO</h5>
        <p>Os presentes termos de Uso serão regidos, interpretados e executados de acordo com as leis da República
            Federativa do
            Brasil, independentemente dos conflitos dessas leis com leis de outros estados ou países, sendo competente
            o Foro de
            Campo Mourão/PR, no Brasil, para dirimir qualquer dúvida decorrente deste instrumento. O USUÁRIO consente,
            expressamente, com a competência desse juízo, e renuncia, neste ato, à competência de qualquer outro foro,
            por mais
            privilegiado que seja ou venha a ser.</p>

        <p style="text-align: center"> <b>Última atualização: 24/09/2018</b></p>

    </mat-dialog-content>
</div>
<br>
<!-- <mat-dialog-actions> -->
<div align="center">
    <button mat-button mat-primary-bg mat-dialog-close class="primary-bg"><span style="color: white">Eu entendi.</span></button>
</div>
<!-- </mat-dialog-actions> -->