<div id="error-404" fxLayout="column" fxLayoutAlign="center center">



    <div class="content" fxLayout="column" fxLayoutAlign="center center">

        <div align="center" class="mb-32">
            <img width="50%" height="50%" src="assets/images/logos/fuse.svg" alt="logo">
        </div>

        <div class="message">Desculpe, mas esta página não existe em nosso sistema ou você não tem permissão para
            acessá-la.</div>

        <a class="back-link mt-16" [routerLink]="'/'">Voltar para a página inicial.</a>

    </div>



</div>