.mat-table {
    width: 100%;
}

// Acrestenta borda
.border {
    border: 1px solid black;
}

.line-through {
    text-decoration-line: line-through;
}

.cell-props {
    // Text
    font-size: 9px;
    font-family: Verdana, Sans-Serif;
    color: black;
    // Centering
    vertical-align: middle;
    text-align: center;
    // Border
    border: 1px solid black;

    max-width: 10px;
    min-width: 10px;
}

.rotate {
    transform: rotate(270deg);
}

.mat-column-Nome {
    max-width: none;
}

.header-Nome {
    -webkit-transform: none;
    transform: none;
}

.mat-column-Nº {
    max-width: 25px;
    min-width: 25px;
}

td.mat-cell {
    font-size: 11px;
}

td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
    padding-right: 0px;
}
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
    padding-left: 0;
}
tr.mat-footer-row,
tr.mat-row {
    height: 0;
}
