<form name="profileForm " [formGroup]="profileForm " class="product w-100-p " fxLayout="column " fxFlex
    fusePerfectScrollbar>

    <mat-accordion>

        <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon><img src="assets/icons/myIcons/open-book.png" alt="school"></mat-icon>

                </mat-panel-title>
                <mat-panel-description>
                    Nível Escolar
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field class="w-100-p " floatLabel="never">
                <mat-label>Escolaridade</mat-label>
                <mat-select formControlName="level" (selectionChange)="levelChanged($event.value)" required>
                    <mat-option *ngFor="let level of levels" [value]="level.value" [disabled]="level?.availability !== 'done'">
                        {{level.viewValue}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="_level.errors?.required">O campo 'Escolaridade' é obrigatório.</mat-error>
            </mat-form-field>


            <mat-form-field class="w-100-p " floatLabel="never">
                <mat-label>Ano</mat-label>
                <mat-select formControlName="serie" required>
                    <mat-option *ngFor="let year of years" [value]="year.value">
                        {{year.viewValue}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="_serie.errors?.required">O campo 'Ano' é obrigatório.</mat-error>

            </mat-form-field>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon><img src="assets/icons/myIcons/library.png" alt="school"></mat-icon>

                </mat-panel-title>
                <mat-panel-description>
                    Minha Escola
                </mat-panel-description>

            </mat-expansion-panel-header>

            <mat-form-field class="w-100-p " floatLabel="never">
                <mat-label>Estado</mat-label>
                <mat-select [(ngModel)]="state" [ngModelOptions]="{standalone: true}" (selectionChange)="getCountyByState($event.value)">
                    <mat-option *ngFor="let state of states" [value]="state.id">
                        {{state.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-100-p " floatLabel="never">
                <mat-label>Cidade</mat-label>
                <mat-select [(ngModel)]="county" [ngModelOptions]="{standalone: true}" (selectionChange)="getInstitutionByCounty($event.value)">
                    <mat-option *ngFor="let county of counties" [value]="county._id">
                        {{county.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-100-p " floatLabel="never">
                <mat-label>Escola</mat-label>
                <mat-select formControlName="school" (blur)="onSubmit()" required>
                    <mat-option *ngFor="let school of schools" [value]="school._id">
                        {{school.institution.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="_school.errors?.required">O campo 'Escola' é obrigatório.</mat-error>

            </mat-form-field>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon><img src="assets/icons/myIcons/family.png" alt="family"></mat-icon>

                </mat-panel-title>
                <mat-panel-description>
                    Familiares

                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field class="w-100-p " floatLabel="never">
                <mat-label>Convidar Familiar</mat-label>
                <input matInput type="text" placeholder="Celular ou E-mail." (keyup)="onKey($event)">
            </mat-form-field>
            <mat-list *ngIf="_relatives.value">
                <mat-list-item *ngFor="let relative of _relatives.value">
                    <img matListAvatar [src]="relative?.avatar" alt="...">
                    <h3 matLine> {{relative?.user?.shortName}} </h3>
                </mat-list-item>
            </mat-list>
            <p class="h3" style="text-align: center" *ngIf="!_relatives.value">Nenhum Familiar identificado ainda.</p>

        </mat-expansion-panel>

    </mat-accordion>



</form>