<!-- SIDEBAR HEADER -->
<div class="header p-24 mat-accent-bg">
    <div
        class="account"
        fxLayout="column"
        [@animate]="{ value: '*', params: { delay: '300ms' } }"
    >
        <h2>Planejamento Diário</h2>
        <!-- <mat-form-field>
            <mat-select placeholder="Disciplinas" (selectionChange)="updatePlannings($event)" class="account-selection"
                [(value)]="themeSelected">
                <mat-option *ngFor="let theme of themes" [value]="theme">
                    {{theme.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->
    </div>
</div>
<!-- / SIDEBAR HEADER -->
