<h3 style="text-align: center" *ngIf="(!schools || schools.length === 0) && !isLoading">
    Nenhuma escola cadastrada.
</h3>

<mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
</mat-card>


<div class="mat-elevation-z8" *ngIf="(dataSource?.data && (dataSource?.data?.length > 0)) && !isLoading">

    <mat-table #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

        <ng-container matColumnDef="name">
            <mat-header-cell class="cell-props" *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
            <mat-cell class="cell-props" *matCellDef="let school">
                <p class="text-truncate font-weight-600">{{school?.name}}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="classes">
            <mat-header-cell class="cell-props" *matHeaderCellDef mat-sort-header>
                <i matTooltip="Número de turmas" class="material-icons">group_work</i>
            </mat-header-cell>
            <mat-cell class="cell-props" *matCellDef="let school">
                <p matTooltip="Número de turmas" class="font-weight-600">{{school?.classes}}</p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="professors">
            <mat-header-cell class="cell-props" *matHeaderCellDef mat-sort-header>
                <i matTooltip="Número de professores" class="material-icons">school</i>
            </mat-header-cell>
            <mat-cell class="cell-props" *matCellDef="let school">
                <p matTooltip="Número de professores" class="font-weight-600">{{school?.professors}}</p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="managers">
            <mat-header-cell class="cell-props" *matHeaderCellDef mat-sort-header>
                <i matTooltip="Número de gestores" class="material-icons">supervised_user_circle</i>
            </mat-header-cell>
            <mat-cell class="cell-props" *matCellDef="let school">
                <p matTooltip="Número de gestores" class="font-weight-600">{{school?.managers}}</p>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="updateAt">
            <mat-header-cell class="cell-props" *matHeaderCellDef mat-sort-header>
                <i matTooltip="Última atualização" class="material-icons">update</i>
            </mat-header-cell>
            <mat-cell class="cell-props" *matCellDef="let school">
                <p matTooltip="Última atualização" class="text-truncate font-weight-600">{{school?.updateAt | date:'dd-MM-y HH:mm'}}</p>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row id="table-row" *matRowDef="let school; columns: displayedColumns;" class="contact"
            [@animate]="{value:'*',params:{y:'100%'}}" (click)="schoolClassrooms(school)">
        </mat-row>
    </mat-table>

    <h3 style="text-align: center" *ngIf="dataSource.filteredData.length === 0">
        Não existe escola com este filtro.
    </h3>

    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>