<fuse-progress-bar></fuse-progress-bar>

<h1 mat-dialog-title fxLayoutAlign="center center">Novo Planejamento Anual</h1>
<hr>


<mat-dialog-content>
    <div align="center">
        <input style="display: none" name="file" id="file" type="file" (change)="onFileChanged($event)" enctype="multipart/form-data"
            #fileInput accept="application/pdf">
        <button mat-raised-button (click)="fileInput.click()" class="mat-primary-bg w-80-p mt-20" [disabled]="hasFile">Selecionar
            arquivo</button>
    </div>


    <div align="center">
        <mat-form-field class="mt-24 w-80-p">
            <input matInput type="text" placeholder="Nome do arquivo" [(ngModel)]="filename" [disabled]="!hasFile">
        </mat-form-field>

        <mat-form-field class="mt-8 w-80-p">
            <mat-select placeholder="Ano" [(ngModel)]="year" [disabled]="!hasFile">
                <mat-option *ngFor="let year of years" [value]="year">{{year?.year?.substring(0,4)}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>


</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="center center" class="mt-16">
    <button mat-button mat-dialog-close class="mat-primary-bg">Cancelar</button>
    <button mat-button class="mat-accent-bg" (click)="onSubmit()" mat-dialog-close [disabled]="!hasFile || !year">Salvar</button>
</mat-dialog-actions>