<table
    *ngIf="schools?.data && schools?.data?.length > 0"
    mat-table
    #table
    [dataSource]="schools"
    [@animateStagger]="{ value: '50' }"
    fusePerfectScrollbar
>
    <!-- ID Column -->
    <ng-container align="center" matColumnDef="avatar" class="w-100-p">
        <th class="w-20-p" mat-header-cell *matHeaderCellDef></th>
        <td class="w-20-p" mat-cell *matCellDef="let school">
            <img
                class="avatar"
                [src]="school?.avatar"
                [alt]="school?.institution?.name"
            />
        </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="institutionName" class="w-100-p">
        <th class="w-50-p" mat-header-cell *matHeaderCellDef>Instituição</th>
        <td class="w-50-p" mat-cell *matCellDef="let school">
            <p class="text-truncate">
                {{ school?.institution?.name }}
            </p>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr
        mat-row
        id="table-row"
        class="contac"
        *matRowDef="let school; columns: displayedColumns"
        (click)="schoolDetails(school)"
        [routerLink]="'/municipio/escolas/' + school._id + '/turmas'"
        class="product"
    ></tr>
</table>

<!-- 
<mat-paginator *ngIf="schools?.data && schools?.data?.length > 0" showFirstLastButtons [pageSizeOptions]="[10, 25, 50, 100]">
</mat-paginator> -->

<div
    *ngIf="!schools?.data || schools?.data?.length === 0"
    fxLayout="column"
    fxLayoutAlign="center center"
>
    <div class="fuse-card p-8">
        <img
            src="https://assets-ouch.icons8.com/preview/311/a245f433-04f4-4d3a-a34d-b769787bf70d.png"
        />

        <div class="p-16">
            <div class="h1">Ops</div>
        </div>

        <div class="p-16 pt-0 line-height-1.75">
            Ainda não existem escolas cadastradas pra esta Rede de Ensino.
        </div>
    </div>
</div>
