<div
    id="reset-password"
    class="inner-scroll"
    fxLayout="row"
    fxLayoutAlign="start"
>
    <div id="reset-password-intro" fxFlex fxHide fxShow.gt-xs>
        <div class="logo" [@animate]="{ value: '*', params: { scale: '0.2' } }">
            <img src="assets/images/logos/fuse.svg" />
        </div>

        <div
            class="title"
            [@animate]="{ value: '*', params: { delay: '50ms', y: '25px' } }"
        >
            Bem vindo(a) ao OCAMACAM!
        </div>

        <div
            class="description"
            [@animate]="{ value: '*', params: { delay: '100ms', y: '25px' } }"
        >
            Alunos, Pais e Familiares, Professores e Orientadores Pedagógicos,
            Gestores Escolares e Municipais, Voluntários e toda Comunidade de
            vários cantos do país.
        </div>
    </div>

    <div
        id="reset-password-form-wrapper"
        fusePerfectScrollbar
        [@animate]="{ value: '*', params: { delay: '300ms', x: '100%' } }"
    >
        <div id="reset-password-form">
            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/fuse.svg" />
            </div>

            <div class="title">RECUPERE SUA SENHA</div>

            <fuse-progress-bar></fuse-progress-bar>

            <form
                name="forgotPasswordForm"
                [formGroup]="forgotPasswordForm"
                novalidate
            >
                <mat-form-field>
                    <input
                        matInput
                        type="email"
                        name="email"
                        placeholder="Email"
                        formControlName="email"
                        (blur)="contactExists()"
                        email
                    />
                    <mat-error *ngIf="email.errors?.required">
                        Email é obrigatório
                    </mat-error>
                    <mat-error *ngIf="email.errors?.email">
                        Por favor entre com um endereço de email válido
                    </mat-error>
                </mat-form-field>
                <mat-error *ngIf="!emailFound && !email.errors">
                    Este email não está cadastrado no OCAMACAM.
                </mat-error>

                <button
                    id="submitButton"
                    mat-raised-button
                    class="submit-button"
                    (click)="onSubmit()"
                    color="warn"
                    aria-label="ENVIAR LINK"
                    [disabled]="email.errors"
                >
                    ENVIAR LINK
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/auth/login'">
                    Voltar para o Login
                </a>
            </div>
        </div>
    </div>
</div>
