<div id="reset-password" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="reset-password-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/fuse.svg">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Bem vindo(a) ao OCAMACAM!
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Alunos, Pais e Familiares, Professores e Orientadores Pedagógicos, Gestores Escolares e Municipais,
            Voluntários e toda Comunidade
            de vários cantos do país.
        </div>

    </div>

    <div id="reset-password-form-wrapper" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="reset-password-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/fuse.svg">
            </div>

            <div class="title">RECRIAR A SUA SENHA</div>

            <fuse-progress-bar></fuse-progress-bar>

            <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>

                <mat-form-field>
                    <input matInput type="password" placeholder="Senha" formControlName="password">
                    <mat-error *ngIf="password.errors?.required">
                        Senha é obrigatória.
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Senha (Confirmação)" formControlName="passwordConfirm">
                    <mat-error *ngIf="passwordConfirm.errors?.required">
                        Confirmação de senha é obrigatória.
                    </mat-error>
                    <mat-error *ngIf="passwordConfirm.errors?.passwordsNotMatch">
                        As senhas devem ser iguais.
                    </mat-error>
                </mat-form-field>

                <button id="submitButton" mat-raised-button color="warn" (click)="onSubmit()" class="submit-button" aria-label="RECRIAR SENHA"
                    [disabled]="resetPasswordForm.invalid">
                    SALVAR
                </button>
            </form>

        </div>
    </div>
</div>